.device-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.device-list-item {
  margin: 10px;
}
.body {
  margin: 0px !important;
}
