/* Estilos generales del contenedor del terminal */
.terminal-container {
    display: flex;
    flex-direction: column;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #000;
    color: white;
    text-transform: lowercase;
}

/* Estilos del área de salida del terminal */
.terminal-output {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #000;
    display: flex;
    flex-direction: column;
    color: white;
    /* Asegura que el texto sea blanco */
}

/* Estilos del mensaje del terminal */
.terminal-message {
    color: white;
    /* Asegura que el texto del mensaje sea blanco */
    font-family: Courier New, Courier, monospace;
    font-size: 14px;
}

/* Estilos del contenedor del campo de entrada */
.terminal-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #000;
    color: white;
    /* Asegura que el texto sea blanco */
}

/* Estilos del campo de entrada */
.terminal-input {
    background-color: #000;
    border-radius: 5px;
    color: white;
    flex: 1;
    border: none;
    outline: none;
    font-family: Courier New, Courier, monospace;
    font-size: 14px;
    height: 30px;
    /* Ajusta la altura del campo de entrada */
    padding: 0 10px;
    /* Ajusta el relleno interno */
}

/* Estilos en hover del campo de entrada */
.terminal-input:hover {
    border: none;
}

/* Estilos en foco del campo de entrada */
.terminal-input:focus {
    border: none;
}